@font-face {
    font-family: "Accademia";
    src: url(font\Sansita-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Accademia";
    src: url(font\Sansita-Bold.ttf);
    font-weight: bold;
}